---
import Layout from "../../layouts/Layout.astro";
import Header_global from "../../components/Header_global.astro";
import Banner from "../../components/Banner.astro";
import Servicios from "../../components/Servicios.astro";
import Carrousel from "../../components/Carrousel.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Ortodoncia">
  <Header_global titulo="Brackets"/>
  <section class="min-h-[100vh]">
    <main>
      <Banner />
    </main>

    <main class="mt-[50px]">
      <Servicios />
      <Carrousel />
    </main>
  </section>
  <Footer />
</Layout>

