---
import Layout from "../../layouts/Layout.astro";
import Header_global from "../../components/Header_global.astro";
import Servicios from "../../components/Servicios.astro";
import Card from "../../components/Card.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Ortodoncia">
  <Header_global titulo="Brackets"/>
  <section class="min-h-[100vh]">

    <main class="mt-[50px]">
      <Servicios 
      titulo_seccion="En DentSalud93 contamos con diferentes opciones en ortodoncia con Brackets para ti.",
      parrafo_seccion="Todos nuestros tratamientos y servicios se brindan en cómodas instalaciones con los más altos estándares de calidad."
      />
    </main>
    <main>
      <Card 
      titulo_tarjeta="Te recomendamos brackets Millenial"
      li1_1="Brackets clarity Advance."
      li1_2="Altamente estéticos."
      li1_3="Bordes más redondeados"
      li1_4="Base contorneada."
      titulo_tarjeta_2="Te recomendamos brackets Metalic"
      li2_1="Técnica que protege la raíz de tus dientes."
      li2_2="Menor sensibilidad y/o molestias."
      li2_3="Fabricados con material 100% biocompatible (Acero inoxidable)."
      li2_4="Brackets metálicos de alta resistencia, no se oxidan ni se oscurecen."
      />
    </main>
  </section>
  <Footer />
</Layout>

