---
import Layout from "../layouts/Layout.astro";
import Header_global from "../components/Header_global.astro";
import Servicios from "../components/Servicios.astro";
import CardFinanciacion from "../components/CardFinanciacion.astro";
import Footer from "../components/Footer.astro";
import CarrouselFinanciacion from "../components/CarrouselFinanciacion.astro";
---

<Layout title="Financiación">
  <Header_global titulo="Financiación"/>
  <section class="min-h-[100vh]">

    <main class="mt-[50px]">
      <Servicios 
      titulo_seccion="Métodos de financiación",
      parrafo_seccion="Estás muy cerca de conquistar el mundo con el poder de tu sonrisa. Contamos con las mejores alternativas para financiar tu tratamiento de forma segura y rápida."
      />
    </main>
    <main>
      <CardFinanciacion 
      titulo_tarjeta="Addi"
      li1_1="Montos de financiación: Desde $50.000 hasta $10.000.000.."
      li1_2="Plazos Desde 3 hasta 24 meses."
      li1_3="Tasa Interés: 1.93% M.V Crédito Ordinario y 3.35% MV Crédito Extraordinario vigente hasta el 30 de Agosto de 2021."
      />
    </main>
    <main class="mt-[50px]">
        <Servicios 
        titulo_seccion="Medios de Pago",
        parrafo_seccion="Conoce todos los medios de pago que tenemos para que descubras el poder de tu sonrisa Todas las tarjetas que recibimos:"
        />
      <CarrouselFinanciacion />
        
      </main>
  </section>
  <Footer />
</Layout>

