---
import Layout from "../layouts/Layout.astro";
import Header_index from "../components/Header_index.astro";
import Banner from "../components/Banner.astro";
import Carrousel from "../components/Carrousel.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="DentSalud 93">
  <Header_index />
  <section class="min-h-[100vh]">
    <main>
      <Banner
        tituloInicio="Transformando"
        tituloMedio="sonrisas, cuidando"
        tituloFin="vidas."
        parrafo="Todos nuestros tratamientos y servicios se brindan en c칩modas instalaciones con los m치s altos est치ndares de calidad."
      />
    </main>

    <main class="mt-[50px]">
      <Banner
        tituloInicio="Nuestros"
        tituloMedio=""
        tituloFin="Servicios"
        parrafo="Encontrar치s tratamientos especializados, ven y conocelos."
      />
      <Carrousel />
    </main>
  </section>
  <Footer />
</Layout>
