---
---
<div class="justify-center items-center flex absolute top-[70px] w-[80%]" >
<ul class="hidden gap-[20px] sm:flex-col md:flex-col lg:hidden bg-secundario2 w-full text-blanco mt-1 shadow-lg p-[20px] rounded-[20px]" id="toggleText">
    <li class="transition-all hover:translate-x-1">
      <a href="#">Inicio</a>
    </li>
    <li class="transition-all hover:translate-x-1">
      <a href="#">Tratamientos</a>
    </li>
    <li class="transition-all hover:translate-x-1">
      <a href="#">Financiación</a>
    </li>
    <li class="transition-all hover:translate-x-1">
      <a href="#">Blog</a>
    </li>
</ul>
</div>
