<nav class="nav-item text-blanco font-semibold">
  <ul class="hidden md:hidden lg:flex gap-[20px]">
    <li class="transition-all hover:-translate-y-1">
      <a href="#">Inicio</a>
    </li>
    <li class="transition-all hover:-translate-y-1">
      <a href="#">Tratamientos</a>
    </li>
    <li class="transition-all hover:-translate-y-1">
      <a href="#">Financiación</a>
    </li>
    <li class="transition-all hover:-translate-y-1">
      <a href="#">Blog</a>
    </li>
  </ul>

      
  <div class="lg:hidden flex " id="toggleDiv">
    <button class="setting-btn">
      <span class="bar bar1"></span>
      <span class="bar bar2"></span>
      <span class="bar bar3"></span>
    </button>
  </div>
</nav>

