---

---

<section class="text-center my-[4%] banner invisible">
  <h2 class="font-black text-[28px] lg:text-[38px]"> 
    <span class="text-azul_claro">Transformando</span> 
    <span class="text-azul_oscuro"> sonrisas, cuidando </span> 
    <span class="text-azul_claro">vidas.</span> 
  </h2>
  <p class="text-[18px] lg:text-[24px] parrafo invisible">Todos nuestros tratamientos y servicios se brindan en cómodas instalaciones con los más altos estándares de calidad.</p>
</section>
