
<section class="w-full">
  <div class="flex justify-center items-center lg:flex-nowrap flex-wrap gap-[20px]">
    <div class="lg:w-[25%] w-[40%]">
      <img src="/img/brackets.png" alt="img-representativa" class="card-image">
      <p class="card-title">Ortodoncia personal</p>
      <span class="card-link"><a href="/tratamientos/ortodoncia">Ver tratamiento</a></span>
    </div>
    <div class="lg:w-[25%] w-[40%]">
      <img src="/img/implante dental.png" alt="img-representativa" class="card-image">
      <p class="card-title">Implantes dentales</p>
      <span class="card-link"><a href="/endodoncia">Ver tratamiento</a></span>
    </div>
    <div class="lg:w-[25%] w-[40%]">
      <img src="/img/blanqueamiento.png" alt="img-representativa" class="card-image">
      <p class="card-title">Blanqueamiento dental</p>
      <span class="card-link"><a href="/endodoncia">Ver tratamiento</a></span>
    </div>
    <div class="lg:w-[25%] w-[40%]">
      <img src="/img/diseno sonrisa.png" alt="img-representativa" class="card-image">
      <p class="card-title">Diseño de sonrisa</p>
      <span class="card-link"><a href="/endodoncia">Ver tratamiento</a></span>
    </div>
  </div>
</section>