<div class="carousel-container carrousel invisible">
  <div class="carousel-wrapper">
    <!-- Cartas -->
    <div class="card bg-white rounded-lg">
      <img src="/img/brackets.png" alt="img-representativa" class="rounded-lg">
      <p class="font-bold text-[20px] mt-[15px]">Ortodoncia</p>
      <span class="font-light text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/tratamientos/ortodoncia">Ver tratamiento</a></span>
    </div>
    <div class="card bg-white rounded-lg">
      <img src="/img/implante dental.png" alt="img-representativa" class="rounded-lg">
      <p class="font-bold text-[20px] mt-[15px]">Implantes dentales</p>
      <span class="font-light text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
    </div>
    <div class="card bg-white rounded-lg">
      <img src="/img/blanqueamiento.png" alt="img-representativa" class="rounded-lg">
      <p class="font-bold text-[20px] mt-[15px]">Blanqueamiento dental</p>
      <span class="font-light text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
    </div>
    <div class="card bg-white rounded-lg">
      <img src="/img/diseno sonrisa.png" alt="img-representativa" class="rounded-lg">
      <p class="font-bold text-[20px] mt-[15px]">Diseño de sonrisa</p>
      <span class="font-light text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
    </div>
  </div>

  <!-- Paginación -->
  <div class="pagination">
    <button class="pagination-button active" onclick="changePage(0)"></button>
    <button class="pagination-button" onclick="changePage(1)"></button>
  </div>
</div>