---

---
<div class="carousel-container">
    <div class="carousel-wrapper ">
      <!-- Cartas -->
      <div class="card bg-white rounded-lg ">
        <img src="/img/endodoncia.jpg" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Endodoncia</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/periodoncia-dental.jpg" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Periodoncia</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/Cirugia-Maxilofacial.jpg" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Cirugia maxilofacial</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/blanqueamiento-dental.jpg" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Blanqueamiento dental</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/resina-de-alta-estetica.jpg" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Resina de alta estética</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/protesis-dental-2.jpg" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Protesis bucales</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/Protesis-total-dental.jpg" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Diseño de sonrisa</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/carilla-porcelana-vm-750x500.jpg" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Carillas dentales</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/Ofertas-en-Implantes-dentales.webp" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Implantología</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/ortodoncias-dentales-v2.jpg" alt="img-representativa" class="rounded-lg">
        <p class="font-bold text-[20px] mt-[15px]">Ortodoncia</p>
        <span class="font-ligth text-[16px] hover:text-azul_claro hover:font-bold transition-all"><a href="/endodoncia">Ver tratamiento</a></span>
      </div>
    </div>

     <!-- Paginación -->
  <div class="pagination">
    <button class="pagination-button active" onclick="changePage(0)"></button>
    <button class="pagination-button" onclick="changePage(1)"></button>
    <button class="pagination-button" onclick="changePage(2)"></button>
    <button class="pagination-button" onclick="changePage(3)"></button>
  </div>
