<div class="carousel-container">
  <div class="carousel-wrapper">
    <!-- Cartas -->
    <div class="card">
      <img src="/img/brackets.png" alt="img-representativa" class="card-image">
      <p class="card-title">Ortodoncia</p>
      <span class="card-link"><a href="/tratamientos/ortodoncia">Ver tratamiento</a></span>
    </div>
    <div class="card">
      <img src="/img/implante dental.png" alt="img-representativa" class="card-image">
      <p class="card-title">Implantes dentales</p>
      <span class="card-link"><a href="/endodoncia">Ver tratamiento</a></span>
    </div>
    <div class="card">
      <img src="/img/blanqueamiento.png" alt="img-representativa" class="card-image">
      <p class="card-title">Blanqueamiento dental</p>
      <span class="card-link"><a href="/endodoncia">Ver tratamiento</a></span>
    </div>
    <div class="card">
      <img src="/img/diseno sonrisa.png" alt="img-representativa" class="card-image">
      <p class="card-title">Diseño de sonrisa</p>
      <span class="card-link"><a href="/endodoncia">Ver tratamiento</a></span>
    </div>
  </div>

  <!-- Paginación -->
  <div class="pagination">
    <button class="pagination-button active" onclick="changePage(0)"></button>
  </div>
</div>
