---

---
<div class="carousel-container carrousel invisible">
    <div class="carousel-wrapper ">
      <!-- Cartas -->
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t1.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t2.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t3.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t4.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t5.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t6.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t7.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t8.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t9.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t10.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t11.webp" alt="img-representativa" class="rounded-lg">
      </div>
      <div class="card bg-white rounded-lg ">
        <img src="/img/tarjetas/t12.webp" alt="img-representativa" class="rounded-lg">
      </div>
      
     
    </div>

     <!-- Paginación -->
  <div class="pagination">
    <button class="pagination-button active" onclick="changePage(0)"></button>
    <button class="pagination-button" onclick="changePage(1)"></button>
    <button class="pagination-button" onclick="changePage(2)"></button>
    <button class="pagination-button" onclick="changePage(3)"></button>
    <button class="pagination-button" onclick="changePage(4)"></button>
    <button class="pagination-button" onclick="changePage(5)"></button>
  </div>
