---

---

<footer class="footer invisible mt-[60px] bg-gradient-to-b from-azul_claro via-azul_rey to-azul_oscuro px-[80px] py-[30px] rounded-t-[45px]">
    <ul class="flex justify-between item-center font-semibold py-[30px] text-blanco">
        <span class="flex flex-col nav-item">
            <p class="mb-[10px]">Llamanos</p>
            <a href="/" class="font-light text-[12px] hover:text-azul_claro">Linea de atención</a>
        </span>
        <span class="flex flex-col nav-item">
            <p class="mb-[10px]">Empresarial</p>
            <a href="/" class="font-light text-[12px] hover:text-azul_claro">Politica y tratamiento de datos</a>
            <a href="/" class="font-light text-[12px] hover:text-azul_claro">Aviso de privacidad</a>
            <a href="/" class="font-light text-[12px] hover:text-azul_claro">Taurus Comunity</a>
        </span>
        <span class="flex flex-col nav-item">
            <p class="mb-[10px]">Encuentranos</p>
            <a href="/" class="font-light text-[12px] hover:text-azul_claro">Red de atención</a>
        </span>
        <span class="flex flex-col nav-item">
            <p class="mb-[10px]">Más información</p>
            <a href="/" class="font-light text-[12px] hover:text-azul_claro">Contactanos</a>
            <a href="/" class="font-light text-[12px] hover:text-azul_claro">Medios de pago</a>
            <a href="/" class="font-light text-[12px] hover:text-azul_claro">Blog</a>
        </span>
    </ul>

    <p class="text-blanco text-[10px] text-center">Desarrollado por Taurus  Comunity empresa de software | Dent Salud 93 todos los derechos reservados &copy;<span id="año">0000</span></p>
  
</footer>

