---
const { title } = Astro.props;
---

<section class="pb-[100px] pt-[30px] flex justify-between items-center">
  <h1 class="font-black text-[120px] text-blanco">
    <div class="flex -mb-[50px] items-center">
      Dent <img src="/diente.png" alt="" class="w-[100px] h-[100px]" />
    </div>
    Salud 93
  </h1>
  <span class="font-semibold text-blanco flex items-center justify-center">
    <ul class="flex flex-col items-end">
      <li class="my-[10px] mx-1">
        odontología avanzada <i
          class="fa-solid fa-circle-check"
          style="color: #f5f5f5;"></i>
      </li>
      <li class="my-[10px] mx-1">
        Equipos de alta tecnología <i
          class="fa-solid fa-circle-check"
          style="color: #f5f5f5;"></i>
      </li>
      <li class="my-[10px] mx-1">
        Consultorio confortable <i
          class="fa-solid fa-circle-check"
          style="color: #f5f5f5;"></i>
      </li>
      <li class="my-[10px] mx-1">
        Atención personalizada <i
          class="fa-solid fa-circle-check"
          style="color: #f5f5f5;"></i>
      </li>
    </ul>
  </span>
</section>
