---
---

<ul class="nav-item invisible flex gap-[10px] justify-between item-center font-semibold pt-[30px] text-blanco w-full">
    <a href="/" class="text-[10px] lg:text-[16px]">Inicio</a>
    <a href="#servicios" class="text-[10px] lg:text-[16px]">Tratamientos</a>
    <a href="/financiacion" class="text-[10px] lg:text-[16px]">Financiación</a>
    <a href="/blog" class="text-[10px] lg:text-[16px]">Blog</a>
    <a href="/contacto" class="text-[10px] lg:text-[16px]">Contacto</a>
</ul>