---
---

<ul class="nav-item invisible flex justify-between item-center font-semibold py-[30px] text-blanco">
    <a href="/">Inicio</a>
    <a href="#servicios">Tratamientos odontológicos</a>
    <a href="/financiacion">Financiación</a>
    <a href="/">Blog</a>
    <a href="/">Contacto</a>
</ul>