---

---

<section class="text-center my-[4%] servicios invisible" id="servicios" >
  <h2 class="font-black text-[38px]"> 
    <span class="text-azul_claro">Nuestros</span> 
    <span class="text-azul_oscuro"> </span> 
    <span class="text-azul_claro">Servicios</span> 
  </h2>
  <p class="text-[24px] parrafoSer invisible">Encontrarás tratamientos especializados, ven y conocelos.</p>
</section>
