---
interface Props {
	titulo_seccion: string;
	parrafo_seccion: string;
}

const { titulo_seccion, parrafo_seccion } = Astro.props;
---

<section class="text-center my-[4%] servicios invisible" id="servicios" >
  <h2 class="font-black text-[38px]"> 
    <span class="text-azul_claro">{titulo_seccion}</span> 
  </h2>
  <p class="text-[24px] parrafoSer invisible">{parrafo_seccion}</p>
</section>
