
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
      --azul_claro: #87A2FF;
			--azul_rey: #0B2F9F;
			--azul_oscuro: #0F1035;
			--negro: #070F2B;
			--blanco: #F5F5F5;
}
*{
  font-family: "Comfortaa", sans-serif;
  scroll-behavior: smooth;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
}

.card {
  flex: 0 0 25%; /* Muestra 3 cartas por slide */
}

.pagination {
  text-align: center;
  margin-top: 50px;
}

.pagination button {
  margin: 0 2px;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  background-color: var(--azul_claro);
  border: none;
  cursor: pointer;
}

.pagination button.active {
  background-color: var(--azul_oscuro);
  color: var(--blanco);
}

.invisible {
  visibility: hidden;
}

/* Media Queries para diseño responsivo */
@media (max-width: 1200px) {
  .card {
    width: 30%; /* 3 tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .card {
    width: 45%; /* 2 tarjetas por fila en pantallas pequeñas */
  }
  
}

@media (max-width: 576px) {
  .card {
    width: 90%; /* 1 tarjeta por fila en pantallas extra pequeñas */
  }
}
