
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
      --azul_claro: #87A2FF;
			--azul_rey: #0B2F9F;
			--azul_oscuro: #0F1035;
			--negro: #070F2B;
			--blanco: #F5F5F5;
}
*{
  font-family: "Comfortaa", sans-serif;
  scroll-behavior: smooth;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 23.5%; /* Por defecto: 4 tarjetas por fila en pantallas grandes */
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}

.card-link a {
  font-weight: 300;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
}

.card-link a:hover {
  color: var(--azul_claro);
  font-weight: bold;
  transition: all 0.3s;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 4px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background-color: var(--azul_claro);
  border: none;
  cursor: pointer;
}

.pagination-button.active {
  background-color: var(--azul_oscuro);
  color: var(--blanco);
}

.invisible {
  visibility: hidden;
}

.footer {
  width: 100%;
}

.footer-nav {
  flex-direction: column;
  gap: 15px;
}

.nav-item {
  text-align: center;
  width: 100%;
}

/* Media Queries para diseño responsivo */
@media (max-width: 1200px) {
  .card {
    width: 30%; /* 3 tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .card {
    width: 45%; /* 2 tarjetas por fila en pantallas pequeñas */
  }
  
}

@media (max-width: 576px) {
  .card {
    width: 90%; /* 1 tarjeta por fila en pantallas extra pequeñas */
  }
}
