
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
      --azul_claro: #87A2FF;
			--azul_rey: #0B2F9F;
			--azul_oscuro: #0F1035;
			--negro: #070F2B;
			--blanco: #F5F5F5;
}
*{
  font-family: "Comfortaa", sans-serif;
  scroll-behavior: smooth;
}

/* Estilos adicionales */
.carousel-container {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.card {
  flex: 0 0 100%; /* Predeterminado para pantallas pequeñas */
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 4px;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  background-color: var(--azul_claro);
  border: none;
  cursor: pointer;
}

.pagination button.active {
  background-color: var(--azul_oscuro);
  color: var(--blanco);
}

.invisible {
  visibility: hidden;
}

/* Medias queries para ajustes responsivos */
@media (min-width: 576px) {
  .card {
    flex: 0 0 25%; /* Muestra 2 cartas en pantallas pequeñas */
  }
}

@media (min-width: 768px) {
  .card {
    flex: 0 0 33.33%; /* Muestra 3 cartas en pantallas medianas */
  }
}

@media (min-width: 992px) {
  .card {
    flex: 0 0 25%; /* Muestra 4 cartas en pantallas grandes */
  }
}

/* financiacion */