---
---
<section class="">
    <main class="flex justify-center items-center">
        <img src="./img/cont.webp" alt="contacto imagen" width="450px" height="890px" class="hidden lg:flex">
        <a href="#">
        <div class="bg-[url('./img/banner-contacto.svg')] bg-contain bg-no-repeat w-[385px] h-[450px] relative">
            <p class="text-blanco p-[20px] text-[40px] text-center">¡Agenda tu cita!</p>
                <img src="./img/contacto2.svg" alt="chat" class=" absolute bottom-[150px] right-[40px]">
            </a> 

            <div class="absolute -bottom-9 right-0 text-right">
                <p class="bg-secundario2 p-[5px] mt-3 rounded-lg text-blanco">Odontología avanzada  <i class="fa-solid fa-circle-check text-blanco"></i></p>
                <p class="bg-secundario2 p-[5px] mt-3 rounded-lg text-blanco">Equipos de alta tecnología <i class="fa-solid fa-circle-check text-blanco"></i></p>
                <p class="bg-secundario2 p-[5px] mt-3 rounded-lg text-blanco">Consultorio confortable <i class="fa-solid fa-circle-check text-blanco"></i></p>
                <p class="bg-secundario2 p-[5px] mt-3 rounded-lg text-blanco">Atención personalizada <i class="fa-solid fa-circle-check text-blanco"></i></p>
            </div>
        </div>
    </main>
    <main>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.012463006784!2d-74.10237726438162!3d4.591785885212925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f991f287c332f%3A0xd7f0477bdbcc9285!2sDentsalud93!5e0!3m2!1ses-419!2sco!4v1731984434755!5m2!1ses-419!2sco" width="100%" height="250" style="border:0; border-radius:10px; margin:15px 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="mapaUbicacion"></iframe>
    </main>
</section>