---
import Texto from "./Texto.astro";
import Imagen from "./Imagen.astro";
---

<section class="banner mt-[50px] flex flex-col lg:flex-row items-center lg:justify-between w-full" >
<Texto />
<Imagen />
</section>